{% extends "base.html" %}

{% block content %}
{% load static %}

<!-- menu -->
<section id="menu">
    <div class="container">
        <div class="menu-area">
            <!-- Navbar -->
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <!-- Left nav -->
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        {% for i in ct %}
                        <li><a href="{{ i.get_url }}">{{ i.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
</section>
<!-- / menu -->

<!-- Products section -->
<section id="aa-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="aa-product-area">
                        <div class="aa-product-inner">
                            <!-- start prduct navigation -->
                            <ul class="nav nav-tabs aa-products-tab">

                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- Start men product category -->
                                <div class="tab-pane fade in active" id="men">
                                    <ul class="aa-product-catg">
                                        <!-- start single product item -->
                                        {% for i in pg.object_list %}
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="{{ i.get_url }}">
                                                    <img alt="polo shirt img" height="300px" src="{{ i.img.url }}"
                                                         width="250px">
                                                </a>
                                                <a class="aa-add-card-btn" href="#">
                                                    <span class="fa fa-shopping-cart"></span>Add To Cart
                                                </a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a href="#">{{ i.name }}</a></h4>
                                                    <span class="aa-product-price">${{ i.price }}</span><span
                                                        class="aa-product-price"><del>$65.50</del></span>
                                                </figcaption>
                                            </figure>
                                            <div class="aa-product-hvr-content">
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Compare"><span class="fa fa-exchange"></span></a>
                                                <a data-placement="top" data-target="#quick-view-modal"
                                                   data-toggle="modal" data-toggle2="tooltip" href="#"
                                                   title="Quick View"><span class="fa fa-search"></span></a>
                                            </div>
                                            <!-- product badge -->
                                            <span class="aa-badge aa-sale" href="#">SALE!</span>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <a class="aa-browse-btn" href="#">Browse all Product <span
                                            class="fa fa-long-arrow-right"></span></a>
                                </div>
                                <!-- / women product category -->

                                <!-- start sports product category -->
                                <div class="tab-pane fade" id="sports">
                                    <ul class="aa-product-catg">
                                        <!-- start single product item -->
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="#"><img alt="polo shirt img"
                                                                                        src="{% static 'img/sports/sport-1.png' %}"></a>
                                                <a class="aa-add-card-btn" href="#"><span
                                                        class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a href="#">This is Title</a></h4>
                                                    <span class="aa-product-price">$45.50</span><span
                                                        class="aa-product-price"><del>$65.50</del></span>
                                                </figcaption>
                                            </figure>
                                            <div class="aa-product-hvr-content">
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Compare"><span class="fa fa-exchange"></span></a>
                                                <a data-placement="top" data-target="#quick-view-modal"
                                                   data-toggle="modal" data-toggle2="tooltip" href="#"
                                                   title="Quick View"><span class="fa fa-search"></span></a>
                                            </div>
                                            <!-- product badge -->
                                            <span class="aa-badge aa-sale" href="#">SALE!</span>
                                        </li>
                                        <!-- start single product item -->
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="#"><img alt="polo shirt img"
                                                                                        src="{% static 'img/sports/sport-2.png' %}"></a>
                                                <a class="aa-add-card-btn" href="#"><span
                                                        class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
                                                    <span class="aa-product-price">$45.50</span>
                                                </figcaption>
                                            </figure>
                                            <div class="aa-product-hvr-content">
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Compare"><span class="fa fa-exchange"></span></a>
                                                <a data-placement="top" data-target="#quick-view-modal"
                                                   data-toggle="modal" data-toggle2="tooltip" href="#"
                                                   title="Quick View"><span class="fa fa-search"></span></a>
                                            </div>
                                            <!-- product badge -->
                                            <span class="aa-badge aa-sold-out" href="#">Sold Out!</span>
                                        </li>
                                        <!-- start single product item -->
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="#"><img alt="polo shirt img"
                                                                                        src="{% static 'img/sports/sport-3.png' %}"></a>
                                                <a class="aa-add-card-btn" href="#"><span
                                                        class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
                                                    <span class="aa-product-price">$45.50</span><span
                                                        class="aa-product-price"><del>$65.50</del></span>
                                                </figcaption>
                                            </figure>
                                            <div class="aa-product-hvr-content">
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Compare"><span class="fa fa-exchange"></span></a>
                                                <a data-placement="top" data-target="#quick-view-modal"
                                                   data-toggle="modal" data-toggle2="tooltip" href="#"
                                                   title="Quick View"><span class="fa fa-search"></span></a>
                                            </div>
                                        </li>
                                        <!-- start single product item -->
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="#"><img alt="polo shirt img"
                                                                                        src="{% static 'img/sports/sport-4.png' %}"></a>
                                                <a class="aa-add-card-btn" href="#"><span
                                                        class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
                                                    <span class="aa-product-price">$45.50</span><span
                                                        class="aa-product-price"><del>$65.50</del></span>
                                                </figcaption>
                                            </figure>
                                            <div class="aa-product-hvr-content">
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Compare"><span class="fa fa-exchange"></span></a>
                                                <a data-placement="top" data-target="#quick-view-modal"
                                                   data-toggle="modal" data-toggle2="tooltip" href="#"
                                                   title="Quick View"><span class="fa fa-search"></span></a>
                                            </div>
                                            <!-- product badge -->
                                            <span class="aa-badge aa-hot" href="#">HOT!</span>
                                        </li>
                                        <!-- start single product item -->
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="#"><img alt="polo shirt img"
                                                                                        src="{% static 'img/sports/sport-5.png' %}"></a>
                                                <a class="aa-add-card-btn" href="#"><span
                                                        class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
                                                    <span class="aa-product-price">$45.50</span>
                                                </figcaption>
                                            </figure>
                                            <div class="aa-product-hvr-content">
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Compare"><span class="fa fa-exchange"></span></a>
                                                <a data-placement="top" data-target="#quick-view-modal"
                                                   data-toggle="modal" data-toggle2="tooltip" href="#"
                                                   title="Quick View"><span class="fa fa-search"></span></a>
                                            </div>
                                        </li>
                                        <!-- start single product item -->
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="#"><img alt="polo shirt img"
                                                                                        src="{% static 'img/sports/sport-6.png' %}"></a>
                                                <a class="aa-add-card-btn" href="#"><span
                                                        class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
                                                    <span class="aa-product-price">$45.50</span><span
                                                        class="aa-product-price"><del>$65.50</del></span>
                                                </figcaption>
                                            </figure>
                                            <div class="aa-product-hvr-content">
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Compare"><span class="fa fa-exchange"></span></a>
                                                <a data-placement="top" data-target="#quick-view-modal"
                                                   data-toggle="modal" data-toggle2="tooltip" href="#"
                                                   title="Quick View"><span class="fa fa-search"></span></a>
                                            </div>
                                        </li>
                                        <!-- start single product item -->
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="#"><img alt="polo shirt img"
                                                                                        src="{% static 'img/sports/sport-7.png' %}"></a>
                                                <a class="aa-add-card-btn" href="#"><span
                                                        class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
                                                    <span class="aa-product-price">$45.50</span><span
                                                        class="aa-product-price"><del>$65.50</del></span>
                                                </figcaption>
                                            </figure>
                                            <div class="aa-product-hvr-content">
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Compare"><span class="fa fa-exchange"></span></a>
                                                <a data-placement="top" data-target="#quick-view-modal"
                                                   data-toggle="modal" data-toggle2="tooltip" href="#"
                                                   title="Quick View"><span class="fa fa-search"></span></a>
                                            </div>
                                            <!-- product badge -->
                                            <span class="aa-badge aa-sale" href="#">SALE!</span>
                                        </li>
                                        <!-- start single product item -->
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="#"><img alt="polo shirt img"
                                                                                        src="{% static 'img/sports/sport-8.png' %}"></a>
                                                <a class="aa-add-card-btn" href="#"><span
                                                        class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
                                                    <span class="aa-product-price">$45.50</span>
                                                </figcaption>
                                            </figure>
                                            <div class="aa-product-hvr-content">
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Compare"><span class="fa fa-exchange"></span></a>
                                                <a data-placement="top" data-target="#quick-view-modal"
                                                   data-toggle="modal" data-toggle2="tooltip" href="#"
                                                   title="Quick View"><span class="fa fa-search"></span></a>
                                            </div>
                                            <!-- product badge -->
                                            <span class="aa-badge aa-sold-out" href="#">Sold Out!</span>
                                        </li>
                                    </ul>
                                </div>
                                <!-- / sports product category -->
                                <!-- start electronic product category -->
                                <div class="tab-pane fade" id="electronics">
                                    <ul class="aa-product-catg">
                                        <!-- start single product item -->
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="#"><img alt="polo shirt img"
                                                                                        src="{% static 'img/electronics/electronic-1.png' %}"></a>
                                                <a class="aa-add-card-btn" href="#"><span
                                                        class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a href="#">This is Title</a></h4>
                                                    <span class="aa-product-price">$45.50</span><span
                                                        class="aa-product-price"><del>$65.50</del></span>
                                                </figcaption>
                                            </figure>
                                            <div class="aa-product-hvr-content">
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Compare"><span class="fa fa-exchange"></span></a>
                                                <a data-placement="top" data-target="#quick-view-modal"
                                                   data-toggle="modal" data-toggle2="tooltip" href="#"
                                                   title="Quick View"><span class="fa fa-search"></span></a>
                                            </div>
                                            <!-- product badge -->
                                            <span class="aa-badge aa-sale" href="#">SALE!</span>
                                        </li>
                                        <!-- start single product item -->
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="#"><img alt="polo shirt img"
                                                                                        src="{% static 'img/electronics/electronic-2.png' %}"></a>
                                                <a class="aa-add-card-btn" href="#"><span
                                                        class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
                                                    <span class="aa-product-price">$45.50</span>
                                                </figcaption>
                                            </figure>
                                            <div class="aa-product-hvr-content">
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Compare"><span class="fa fa-exchange"></span></a>
                                                <a data-placement="top" data-target="#quick-view-modal"
                                                   data-toggle="modal" data-toggle2="tooltip" href="#"
                                                   title="Quick View"><span class="fa fa-search"></span></a>
                                            </div>
                                            <!-- product badge -->
                                            <span class="aa-badge aa-sold-out" href="#">Sold Out!</span>
                                        </li>
                                        <!-- start single product item -->
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="#"><img alt="polo shirt img"
                                                                                        src="{% static 'img/electronics/electronic-3.png' %}"></a>
                                                <a class="aa-add-card-btn" href="#"><span
                                                        class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
                                                    <span class="aa-product-price">$45.50</span><span
                                                        class="aa-product-price"><del>$65.50</del></span>
                                                </figcaption>
                                            </figure>
                                            <div class="aa-product-hvr-content">
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Compare"><span class="fa fa-exchange"></span></a>
                                                <a data-placement="top" data-target="#quick-view-modal"
                                                   data-toggle="modal" data-toggle2="tooltip" href="#"
                                                   title="Quick View"><span class="fa fa-search"></span></a>
                                            </div>
                                        </li>
                                        <!-- start single product item -->
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="#"><img alt="polo shirt img"
                                                                                        src="{% static 'img/electronics/electronic-4.png' %}"></a>
                                                <a class="aa-add-card-btn" href="#"><span
                                                        class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
                                                    <span class="aa-product-price">$45.50</span><span
                                                        class="aa-product-price"><del>$65.50</del></span>
                                                </figcaption>
                                            </figure>
                                            <div class="aa-product-hvr-content">
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Compare"><span class="fa fa-exchange"></span></a>
                                                <a data-placement="top" data-target="#quick-view-modal"
                                                   data-toggle="modal" data-toggle2="tooltip" href="#"
                                                   title="Quick View"><span class="fa fa-search"></span></a>
                                            </div>
                                            <!-- product badge -->
                                            <span class="aa-badge aa-hot" href="#">HOT!</span>
                                        </li>
                                        <!-- start single product item -->
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="#"><img alt="polo shirt img"
                                                                                        src="{% static 'img/electronics/electronic-5.png' %}"></a>
                                                <a class="aa-add-card-btn" href="#"><span
                                                        class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
                                                    <span class="aa-product-price">$45.50</span>
                                                </figcaption>
                                            </figure>
                                            <div class="aa-product-hvr-content">
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Compare"><span class="fa fa-exchange"></span></a>
                                                <a data-placement="top" data-target="#quick-view-modal"
                                                   data-toggle="modal" data-toggle2="tooltip" href="#"
                                                   title="Quick View"><span class="fa fa-search"></span></a>
                                            </div>
                                        </li>
                                        <!-- start single product item -->
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="#"><img alt="polo shirt img"
                                                                                        src="{% static 'img/electronics/electronic-6.png' %}"></a>
                                                <a class="aa-add-card-btn" href="#"><span
                                                        class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
                                                    <span class="aa-product-price">$45.50</span><span
                                                        class="aa-product-price"><del>$65.50</del></span>
                                                </figcaption>
                                            </figure>
                                            <div class="aa-product-hvr-content">
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Compare"><span class="fa fa-exchange"></span></a>
                                                <a data-placement="top" data-target="#quick-view-modal"
                                                   data-toggle="modal" data-toggle2="tooltip" href="#"
                                                   title="Quick View"><span class="fa fa-search"></span></a>
                                            </div>
                                        </li>
                                        <!-- start single product item -->
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="#"><img alt="polo shirt img"
                                                                                        src="{% static 'img/electronics/electronic-7.png' %}"></a>
                                                <a class="aa-add-card-btn" href="#"><span
                                                        class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
                                                    <span class="aa-product-price">$45.50</span><span
                                                        class="aa-product-price"><del>$65.50</del></span>
                                                </figcaption>
                                            </figure>
                                            <div class="aa-product-hvr-content">
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Compare"><span class="fa fa-exchange"></span></a>
                                                <a data-placement="top" data-target="#quick-view-modal"
                                                   data-toggle="modal" data-toggle2="tooltip" href="#"
                                                   title="Quick View"><span class="fa fa-search"></span></a>
                                            </div>
                                            <!-- product badge -->
                                            <span class="aa-badge aa-sale" href="#">SALE!</span>
                                        </li>
                                        <!-- start single product item -->
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="#"><img alt="polo shirt img"
                                                                                        src="{% static 'img/electronics/electronic-8.png' %}"></a>
                                                <a class="aa-add-card-btn" href="#"><span
                                                        class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
                                                    <span class="aa-product-price">$45.50</span>
                                                </figcaption>
                                            </figure>
                                            <div class="aa-product-hvr-content">
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                                                <a data-placement="top" data-toggle="tooltip" href="#"
                                                   title="Compare"><span class="fa fa-exchange"></span></a>
                                                <a data-placement="top" data-target="#quick-view-modal"
                                                   data-toggle="modal" data-toggle2="tooltip" href="#"
                                                   title="Quick View"><span class="fa fa-search"></span></a>
                                            </div>
                                            <!-- product badge -->
                                            <span class="aa-badge aa-sold-out" href="#">Sold Out!</span>
                                        </li>
                                    </ul>
                                    <a class="aa-browse-btn" href="#">Browse all Product <span
                                            class="fa fa-long-arrow-right"></span></a>
                                </div>
                                <!-- / electronic product category -->
                            </div>
                            <!-- quick view modal -->
                            <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade"
                                 id="quick-view-modal" role="dialog" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <button aria-hidden="true" class="close" data-dismiss="modal" type="button">
                                                &times;
                                            </button>
                                            <div class="row">
                                                <!-- Modal view slider -->
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div class="aa-product-view-slider">
                                                        <div class="simpleLens-gallery-container" id="demo-1">
                                                            <div class="simpleLens-container">
                                                                <div class="simpleLens-big-image-container">
                                                                    <a class="simpleLens-lens-image"
                                                                       data-lens-image="img/view-slider/large/polo-shirt-1.png">
                                                                        <img class="simpleLens-big-image"
                                                                             src="{% static 'img/view-slider/medium/polo-shirt-1.png' %}">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="simpleLens-thumbnails-container">
                                                                <a class="simpleLens-thumbnail-wrapper"
                                                                   data-big-image="img/view-slider/medium/polo-shirt-1.png"
                                                                   data-lens-image="img/view-slider/large/polo-shirt-1.png"
                                                                   href="#">
                                                                    <img src="{% static 'img/view-slider/thumbnail/polo-shirt-1.png' %}">
                                                                </a>
                                                                <a class="simpleLens-thumbnail-wrapper"
                                                                   data-big-image="img/view-slider/medium/polo-shirt-3.png"
                                                                   data-lens-image="img/view-slider/large/polo-shirt-3.png"
                                                                   href="#">
                                                                    <img src="{% static 'img/view-slider/thumbnail/polo-shirt-3.png' %}">
                                                                </a>

                                                                <a class="simpleLens-thumbnail-wrapper"
                                                                   data-big-image="img/view-slider/medium/polo-shirt-4.png"
                                                                   data-lens-image="img/view-slider/large/polo-shirt-4.png"
                                                                   href="#">
                                                                    <img src="{% static 'img/view-slider/thumbnail/polo-shirt-4.png' %}">
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Modal view content -->
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div class="aa-product-view-content">
                                                        <h3>T-Shirt</h3>
                                                        <div class="aa-price-block">
                                                            <span class="aa-product-view-price">$34.99</span>
                                                            <p class="aa-product-avilability">Avilability: <span>In stock</span>
                                                            </p>
                                                        </div>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                            Officiis animi, veritatis quae repudiandae quod nulla porro
                                                            quidem, itaque quis quaerat!</p>
                                                        <h4>Size</h4>
                                                        <div class="aa-prod-view-size">
                                                            <a href="#">S</a>
                                                            <a href="#">M</a>
                                                            <a href="#">L</a>
                                                            <a href="#">XL</a>
                                                        </div>
                                                        <div class="aa-prod-quantity">
                                                            <form action="">
                                                                <select id="" name="">
                                                                    <option selected="1" value="0">1</option>
                                                                    <option value="1">2</option>
                                                                    <option value="2">3</option>
                                                                    <option value="3">4</option>
                                                                    <option value="4">5</option>
                                                                    <option value="5">6</option>
                                                                </select>
                                                            </form>
                                                            <p class="aa-prod-category">
                                                                Category: <a href="#">Polo T-Shirt</a>
                                                            </p>
                                                        </div>
                                                        <div class="aa-prod-view-bottom">
                                                            <a class="aa-add-to-cart-btn" href="#"><span
                                                                    class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                            <a class="aa-add-to-cart-btn" href="#">View Details</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- / quick view modal -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Products section -->

<!-- Support section -->
<section id="aa-support">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-support-area">
                    <!-- single support -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="aa-support-single">
                            <span class="fa fa-truck"></span>
                            <h4>FREE SHIPPING</h4>
                            <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nobis.</P>
                        </div>
                    </div>
                    <!-- single support -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="aa-support-single">
                            <span class="fa fa-clock-o"></span>
                            <h4>30 DAYS MONEY BACK</h4>
                            <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nobis.</P>
                        </div>
                    </div>
                    <!-- single support -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="aa-support-single">
                            <span class="fa fa-phone"></span>
                            <h4>SUPPORT 24/7</h4>
                            <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nobis.</P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Support section -->

{% endblock content %}

